/* Error: Expected newline.
 *   ,
 * 1 | body{
 *   |     ^
 *   '
 *   main.sass 1:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 1 \2502  body{\d\a   \2502      ^\a   \2575 \a   main.sass 1:5  root stylesheet";
}
