@font-face {
  font-family: "Lets Play";
  src: url(../fonts/Lets-Play.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.ttf);
}

.button-radius-style {
  border-radius: 20px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .two-cols {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .two-cols>div {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .three-cols {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .three-cols>div {
    width: 33.333%;
  }
}

body {
  font-family: "Open Sans";
}

body img {
  max-width: 100%;
}

body button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

body a, body button {
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body a:hover {
  color: white;
  text-decoration: none;
}

.panel .card-body{
  overflow-x: scroll;
}

body .custom-button a {
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background-color: #99c355;
  padding: 15px 40px;
  margin: 10px auto;
  display: inline-block;
}

body .custom-button a:hover {
  background-color: #e8c244;
}

.blogs h1{
  font-family: "Open Sans Bold";
  color: #99c355;
  margin-bottom: 30px;
}

.blogs .btn{
  background-color: #99c355;
  border: 0;
}

.blogs .new-blog a{
  background-color: #99c355;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  float: right;
}

.blogs .new-blog a:hover{
  background-color: #e8c244;
}

.blogs .btn:hover{
  background-color: #e8c244;
}

.blog p span{
  white-space: pre-line;
}

.float-md-right, .float-md-left{
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media(min-width: 768px){
  .float-md-right, .float-md-left{
    margin-bottom: 0;
  }

  .float-md-left{
    margin-right: 15px;
  }
  .float-md-right{
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  body .custom-button a {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  body .custom-button a {
    font-size: 30px;
    margin: 15px auto;
  }
}

@media (min-width: 992px) {
  body .custom-button a {
    font-size: 36px;
    margin: 20px auto;
  }
}

@media (min-width: 1200px) {
  body .custom-button a {
    font-size: 40px;
    margin: 30px auto;
  }
}

body .special-border-top {
  position: absolute;
  top: 0;
  z-index: 1;
}

@media (max-width: 576px) {
  body .special-border-top {
    top: -2px;
  }
}

body .special-border-bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

body .text-over-img {
  position: relative;
}

body .text-over-img a>span {
  position: absolute;
  bottom: 0;
  left: 2%;
  font-size: 60px;
  font-family: "Open Sans Bold";
  font-weight: bold;
  text-transform: uppercase;
}

body .text-over-img a>span span {
  display: block;
  line-height: 1;
}

body img, body span {
  transition: all 0.5s ease-in-out;
}

body .scale-img {
  overflow: hidden;
}

body .scale-img a:hover img {
  transform: scale(1.3);
}

body main .img-border {
  position: relative;
}

body main .special-text-img {
  position: relative;
}

body main .special-text-img .over-title {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

body main .special-text-img .over-title h1 {
  text-align: center;
  font-family: "Lets Play";
  color: white;
  font-size: 32px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  width: 90%;
  margin: auto;
  line-height: 1;
  border-bottom: 1px solid #e8c244;
  padding-bottom: 10px;
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

body main .special-text-img .over-title h1 span {
  display: block;
}

body main .special-text-img .over-title img {
  position: absolute;
  top: 40%;
  width: 40px;
}

body main .special-text-img .over-title .left-quote {
  left: 8%;
}

body main .special-text-img .over-title .right-quote {
  right: 8%;
}

@media (min-width: 576px) {
  body main .special-text-img .over-title h1 {
    padding-bottom: 20px;
    font-size: 45px;
  }
  body main .special-text-img .over-title img {
    top: 36%;
    width: 56px;
  }
  body main .special-text-img .over-title .left-quote {
    left: 8%;
  }
  body main .special-text-img .over-title .right-quote {
    right: 8%;
  }
}

@media (min-width: 768px) {
  body main .special-text-img .over-title h1 {
    padding-bottom: 50px;
    font-size: 55px;
  }
  body main .special-text-img .over-title img {
    top: 30%;
    width: 70px;
  }
  body main .special-text-img .over-title .left-quote {
    left: 12%;
  }
  body main .special-text-img .over-title .right-quote {
    right: 12%;
  }
}

@media (min-width: 992px) {
  body main .special-text-img .over-title h1 {
    padding-bottom: 70px;
    font-size: 70px;
  }
  body main .special-text-img .over-title img {
    top: 30%;
    width: 80px;
  }
  body main .special-text-img .over-title .left-quote {
    left: 12%;
  }
  body main .special-text-img .over-title .right-quote {
    right: 12%;
  }
}

@media (min-width: 1200px) {
  body main .special-text-img .over-title h1 {
    padding-bottom: 80px;
    font-size: 80px;
  }
  body main .special-text-img .over-title img {
    top: 40%;
  }
  body main .special-text-img .over-title .left-quote {
    left: 17%;
  }
  body main .special-text-img .over-title .right-quote {
    right: 17%;
  }
}

body main .five-cols-img>div {
  padding: 20px 20px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid;
}

@media (min-width: 576px) {
  body main .five-cols-img>div {
    width: 33.3333%;
    padding: 10px 20px;
    border: none;
  }
}

@media (min-width: 992px) {
  body main .five-cols-img>div {
    width: 20%;
  }
}

body main .five-cols-img>div:last-of-type {
  border: none;
}

@media (min-width: 576px) {
  body main .five-cols-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

body main .confirm-donate-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

body main .confirm-donate-container>div .confirm-donation-text h1 {
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  font-size: 20px;
}

body main .confirm-donate-container>div .confirm-donation-text h1 span {
  font-family: "Open Sans light";
  display: block;
  text-transform: none;
  font-size: 15px;
}

body main .confirm-donate-container>div .confirm-donation-text p {
  font-size: 20px;
  font-family: "Open Sans Light";
  line-height: 1;
}

body main .confirm-donate-container>div .confirm-donation-text p span {
  display: block;
}

@media (min-width: 768px) {
  body main .confirm-donate-container>div .confirm-donation-text h1 {
    font-size: 32px;
  }
  body main .confirm-donate-container>div .confirm-donation-text h1 span {
    font-size: 25px;
  }
  body main .confirm-donate-container>div .confirm-donation-text p {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  body main .confirm-donate-container>div .confirm-donation-text h1 {
    font-size: 40px;
  }
  body main .confirm-donate-container>div .confirm-donation-text h1 span {
    font-size: 30px;
  }
  body main .confirm-donate-container>div .confirm-donation-text p {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  body main .confirm-donate-container>div .confirm-donation-text h1 {
    font-size: 45px;
  }
  body main .confirm-donate-container>div .confirm-donation-text h1 span {
    font-size: 35px;
  }
  body main .confirm-donate-container>div .confirm-donation-text p {
    font-size: 35px;
  }
}

body main .parallax-effect {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}

body main .parallax-effect .over-title h1 {
  width: 58%;
}

body main .parallax-effect::before, body main .parallax-effect::after {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

body main .parallax-effect:before {
  content: "";
  top: 0;
  min-height: 35%;
}

body main .parallax-effect:after {
  content: "";
  bottom: -23px;
  min-height: 24%;
}

@media (min-width: 576px) {
  body main .parallax-effect {
    min-height: 300px;
  }
  body main .parallax-effect:after {
    bottom: -26px;
    min-height: 22%;
  }
}

@media (min-width: 768px) {
  body main .parallax-effect {
    min-height: 400px;
  }
  body main .parallax-effect:after {
    bottom: -36px;
    min-height: 25%;
  }
}

@media (min-width: 992px) {
  body main .parallax-effect {
    min-height: 500px;
  }
  body main .parallax-effect:after {
    bottom: -18px;
    min-height: 20%;
  }
}

@media (min-width: 1200px) {
  body main .parallax-effect:after {
    bottom: -6px;
    min-height: 25%;
  }
}

body main .principal-container {
  position: relative;
}

body main .principal-container .principal-image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  min-height: 13%;
  width: 100%;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

#header .green-bar {
  background-color: #99c355;
}

#header .green-bar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#header .green-bar .container .social-media a {
  margin-left: 10px;
}

#header .green-bar .container .social-media a span {
  color: white;
}

#header .green-bar .container .social-media a:hover span {
  color: black;
}

@media (min-width: 480px) {
  #header .green-bar .container .social-media {
    margin-left: 40px;
  }
}

#header .green-bar .container .buttons-header {
  display: flex;
  flex-wrap: wrap;
}

#header .green-bar .container .buttons-header>div a, #header .green-bar .container .buttons-header>div button {
  padding: 0 20px;
}

#header .green-bar .container .buttons-header>div a:hover, #header .green-bar .container .buttons-header>div button:hover {
  background: black;
}

#header .green-bar .container .buttons-header>div a {
  display: inline-block;
}

#header .green-bar .container .buttons-header .translate-button form button:focus {
  outline: 0;
}

#header .navbar-header {
  font-weight: bold;
}

#header .navbar-header .navbar, #header .navbar-header .fixed-top {
  background-color: white;
  padding: 0;
}

#header .navbar-header .navbar .navbar-brand, #header .navbar-header .fixed-top .navbar-brand {
  max-width: 25%;
}

#header .navbar-header .navbar .justify-content-end, #header .navbar-header .fixed-top .justify-content-end {
  text-transform: uppercase;
  font-family: "Open Sans Bold";
}

#header .navbar-header .navbar .navbar-toggler, #header .navbar-header .fixed-top .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

#header .navbar-header .fixed-top {
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

#header .navbar-header .fixed-top .navbar-brand {
  max-width: 20%;
}

#principal_page .main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#principal_page .main .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#principal_page .main .video-container video {
  min-width: 100%;
  min-height: 100%;
}

#principal_page .main .position-center {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#principal_page .main .position-center .img-container {
  width: 80%;
  margin-bottom: 77px;
}

#principal_page .main .position-center form {
  width: 100%;
}

#principal_page .main .position-center form .buttons_languaje {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

#principal_page .main .position-center form .buttons_languaje a {
  width: 30%;
  margin: 30px;
}

#principal_page .main .position-center form .buttons_languaje a button {
  font-family: "Lets Play";
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  background-color: #e8c244;
  width: 100%;
  padding: 4px;
}

#principal_page .main .position-center form .buttons_languaje a button:hover {
  background-color: #1a1a1a;
}

@media (min-width: 480px) {
  #principal_page .main .position-center {
    width: 60%;
  }
}

@media (min-width: 768px) {
  #principal_page .main .position-center {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #principal_page .main .position-center {
    width: 40%;
  }
}

#home .modal .modal-dialog .modal-content .row {
  margin: 0;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6 {
  padding: 0;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) {
  width: 80%;
  margin: 0 auto;
  padding-top: 32px;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info {
  font-family: "Lets Play";
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info h1 {
  color: #b4a269;
  font-size: 52px;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info p {
  font-family: "Open Sans";
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div {
  margin-bottom: 10px;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div a {
  background-color: #b4a269;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  padding: 5px;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div a:hover {
  background: black;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div:first-of-type {
  margin-bottom: 20px;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div:last-of-type {
  text-align: right;
  margin-bottom: 0px;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div:last-of-type a {
  background-color: transparent;
  color: #b4a269;
  display: inline;
  font-size: 30px;
  padding: 0;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type>div:not(.close-button) .social-media-info .social-media-buttons>div:last-of-type a:hover {
  color: black;
}

#home .modal .modal-dialog .modal-content .row .col-sm-6:last-of-type .close-button {
  padding: 10px;
}

#home .principal-container .principal-image:after {
  background-image: url(../img/hands-border-1.png);
}

#home .about-container>div {
  padding-top: 50px;
  padding-bottom: 30px;
}

#home .about-container>div h5 {
  color: #808ea4;
  font-weight: bold;
  margin-bottom: 35px;
}

#home .about-container>div hr {
  width: 90%;
  background-color: #5d8992;
}

#home .about-container>div .text-video-container {
  padding-top: 20px;
}

#home .about-container>div .text-video-container>div.about-text {
  /* padding-right: 60px; */
}

#home .about-container>div .text-video-container>div.about-text h1 {
  font-family: "Lets Play";
  margin-bottom: 30px;
  color: #5d8992;
  font-size: 56px;
}

#home .about-container>div .text-video-container>div.about-text p {
  font-size: 14px;
  color: #808ea4;
}

#home .about-container>div .text-video-container>div.about-text p:first-of-type {
  margin-bottom: 20px;
}

#home .about-container>div .text-video-container>div.video-container {
  /* padding-left: 15px; */
}

#home .about-container>div .text-video-container>div.video-container .video-responsive {
  position: relative;
  padding-bottom: 51%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

#home .about-container>div .text-video-container>div.video-container .video-responsive iframe, #home .about-container>div .text-video-container>div.video-container .video-responsive object, #home .about-container>div .text-video-container>div.video-container .video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home .commitment-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

#home .commitment-container>div h1 {
  font-family: "Lets Play";
  color: #99c355;
  font-size: 60px;
  padding-bottom: 10px;
}

#home .commitment-container>div .text-img-container {
  border-bottom: 2px solid rgba(128, 142, 164, 0.4);
  padding-bottom: 30px;
}

#home .commitment-container>div .text-img-container .img-container {
  padding-bottom: 15px;
}

#home .commitment-container>div .text-img-container .commitment-text p {
  font-size: 14px;
  color: #808ea4;
  margin-bottom: 30px;
}

#home .commitment-container>div .text-img-container .commitment-text p:last-of-type {
  margin-bottom: 0;
}

#home .confirm-donate-container {
  position: relative;
  margin-bottom: 0;
  background-image: url("../img/home/confirm-donation-1.jpg");
}

#home .confirm-donate-container:before {
  content: "";
  background-image: url("../img/hands-border-2.png");
  top: 0;
  min-height: 35%;
}

#home .confirm-donate-container:after {
  content: none;
}

#home .confirm-donate-container .over-title {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

#home .confirm-donate-container .over-title .over-title-elements {
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
  margin: auto;
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

#home .confirm-donate-container .over-title .over-title-elements h1 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
}

#home .confirm-donate-container .over-title .over-title-elements h1 span {
  display: block;
  font-family: "Open Sans Light";
  font-weight: normal;
  font-size: 12px;
  text-transform: none;
}

#home .confirm-donate-container .over-title .over-title-elements .custom-button {
  padding-top: 5px;
}

#home .confirm-donate-container .over-title .over-title-elements .custom-button a {
  font-size: 10px;
  padding: 10px 20px;
}

@media (min-width: 1200px) {
  #home .confirm-donate-container:after, #home .confirm-donate-container:before {
    background-size: cover;
  }
}

#home .solmar-actions h1 {
  text-align: center;
  margin-bottom: -10px;
  position: relative;
  z-index: 2;
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  font-size: 25px;
  color: #606060;
}

#home .solmar-actions h1 span {
  font-family: "Open Sans Light";
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  color: #808ea4;
}

#home .solmar-actions>div {
  position: relative;
}

#home .solmar-actions>div .special-border-top {
  top: -3;
}

#home .solmar-actions>div .solmar-actions-backgruond {
  position: relative;
}

#home .solmar-actions>div .solmar-actions-backgruond:before {
  content: "";
  background-image: url("../img/border-imgs-top.png");
  position: absolute;
  left: 0;
  right: 0;
  min-height: 22%;
  width: 100%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

#home .solmar-actions>div .solmar-actions-backgruond:after {
  content: "";
  background-image: url("../img/border-imgs-bottom-1.png");
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10%;
  width: 100%;
  bottom: -4px;
  background-size: contain;
  background-repeat: no-repeat;
}

#home .solmar-actions>div .solmar-actions-backgruond img {
  max-width: 230%;
}

@media (min-width: 500px) {
  #home .solmar-actions>div .solmar-actions-backgruond:after {
    min-height: 15%;
    bottom: -2px;
  }
}

@media (min-width: 576px) {
  #home .solmar-actions>div .solmar-actions-backgruond:after {
    bottom: -3px;
  }
}

@media (min-width: 768px) {
  #home .solmar-actions>div .solmar-actions-backgruond:after {
    min-height: 22%;
  }
}

#home .solmar-actions>div .text-cols .four-cols-text, #home .solmar-actions>div .text-cols .two-cols-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
}

#home .solmar-actions>div .text-cols .four-cols-text p, #home .solmar-actions>div .text-cols .two-cols-text p {
  font-family: "Lets Play";
  color: white;
  text-align: center;
}

#home .solmar-actions>div .text-cols .four-cols-text p>span, #home .solmar-actions>div .text-cols .two-cols-text p>span {
  display: block;
  line-height: normal;
}

#home .solmar-actions>div .text-cols .four-cols-text p>span span, #home .solmar-actions>div .text-cols .two-cols-text p>span span {
  font-size: 15px;
}

#home .solmar-actions>div .text-cols .four-cols-text {
  top: 9%;
  left: 0;
  right: 0;
}

#home .solmar-actions>div .text-cols .four-cols-text>div {
  width: 50%;
}

#home .solmar-actions>div .text-cols .four-cols-text>div p {
  margin-bottom: 5px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(1) p {
  font-size: 15px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) {
  padding-bottom: 15px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
  font-size: 18px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
  font-size: 15px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
  font-size: 14px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
  font-size: 15px;
}

#home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
  line-height: 1;
}

#home .solmar-actions>div .text-cols .two-cols-text {
  bottom: 0%;
  left: 1%;
  right: 1%;
}

#home .solmar-actions>div .text-cols .two-cols-text>div {
  width: 50%;
}

#home .solmar-actions>div .text-cols .two-cols-text>div p {
  font-size: 14px;
}

#home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
  padding-left: 15px;
  padding-bottom: 18px;
}

#home .our-work-container .text-fb-container .work-text h1 {
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  font-size: 35px;
}

#home .our-work-container .text-fb-container .work-text hr {
  width: 85%;
  background-color: #808ea4;
}

#home .our-work-container .text-fb-container .work-text>div .bullets-text {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#home .our-work-container .text-fb-container .work-text>div .bullets-text p {
  width: 90%;
  font-size: 24px;
  color: #606060;
  line-height: 1;
  font-family: "Open Sans Light";
}

#home .our-work-container .text-fb-container .work-text>div .bullets-text img {
  width: 10%;
  padding-right: 15px;
  padding-top: 5px;
  height: 100%;
}

#home .our-work-container .text-fb-container .work-text>div .bullets-text:first-of-type p {
  border-top: 1.5px solid rgba(128, 142, 164, 0.7);
  margin-top: 10px;
  padding-top: 20px;
}

#home .our-work-container .text-fb-container .fb-widget-container {
  display: none;
}

#home .gallery-container {
  margin-bottom: 60px;
}

#home .gallery-container>div .row-gallery {
  display: flex;
  margin-bottom: 10px;
}

#home .gallery-container>div .row-gallery>div img {
  max-height: 160px;
}

#home .gallery-container>div .row-gallery.first-gallery {
  padding-bottom: 30px;
}

#home .gallery-container>div .row-gallery.four-gallery {
  margin-top: 30px;
}

#home .gallery-container>div .row-gallery.four-gallery>div img {
  max-height: 165px;
}

#home .gallery-container>div .second-gallery {
  justify-content: space-between;
  padding-bottom: 5px;
}

#home .gallery-container>div .second-gallery>div:last-of-type {
  padding: 0;
}

#home .gallery-container>div .second-gallery>div.purpose-link a>span {
  font-size: 45px;
}

#home .gallery-container>div .second-gallery>div.help-link a>span {
  font-size: 52px;
  left: 0;
  right: 0;
}

#home .gallery-container>div .second-gallery>div.help-link a>span span {
  text-align: center;
}

#home .gallery-container>div .second-gallery>div.two-elements {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

#home .gallery-container>div .second-gallery>div.two-elements .special-back {
  padding-right: 5px;
}

#home .gallery-container>div .second-gallery>div.two-elements .special-back>div {
  background-color: #ec6867;
  color: white;
  font-family: "Lets Play";
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span {
  display: block;
  line-height: 1;
  text-align: center;
}

#home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span.first-line {
  font-size: 40px;
}

#home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span.second-line {
  font-size: 65px;
  text-transform: uppercase;
}

#home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span.third-line {
  font-size: 35px;
}

#home .gallery-container>div .second-gallery>div.two-elements>div {
  width: 50%;
}

#home .gallery-container>div .third-gallery {
  align-items: initial;
  justify-content: space-between;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img {
  display: flex;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div img {
  max-height: 520px;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div:first-of-type {
  padding-right: 5px;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img {
  position: relative;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img a>span {
  position: absolute;
  bottom: 0;
  left: 2%;
  font-size: 30px;
  font-family: "Open Sans Bold";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img a>span span {
  line-height: 1;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd):first-of-type {
  padding-bottom: 5px;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd):first-of-type .two-img>div {
  padding-bottom: 5px;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd):last-of-type {
  padding-top: 5px;
}

#home .gallery-container>div .third-gallery>div:nth-child(odd):last-of-type .two-img>div {
  padding-top: 5px;
}

#home .gallery-container>div .third-gallery>div:nth-child(even) {
  position: relative;
  background: #99c355;
  max-height: 100%;
  color: #ffffff;
  font-family: "Lets Play";
  padding: 15px;
  font-size: 35px;
  text-align: center;
  display: flex;
  align-items: center;
}

#home .gallery-container>div .third-gallery>div:nth-child(even)>div {
  position: absolute;
  width: 30%;
  opacity: 0.5;
}

#home .gallery-container>div .third-gallery>div:nth-child(even)>div.first-img {
  left: 5%;
  top: 3%;
}

#home .gallery-container>div .third-gallery>div:nth-child(even)>div.second-img {
  right: 5%;
  bottom: 3%;
}

#home .gallery-container>div .third-gallery>div:nth-child(even) p {
  z-index: 2;
  line-height: 1;
}

#home .donations-become-container {
  background-image: url("../img/home/heart-hands-1.jpg");
}

#home .donations-become-container .over-title h1 {
  width: 58%;
}

#home .donations-become-container:before {
  content: "";
  background-image: url("../img/hands-border-2.png");
  top: 0;
  min-height: 35%;
}

#home .donations-become-container:after {
  content: "";
  background-image: url("../img/border-imgs-bottom-2.png");
  bottom: -23px;
  min-height: 24%;
}

@media (min-width: 576px) {
  #home .donations-become-container {
    min-height: 300px;
  }
  #home .donations-become-container:after {
    bottom: -26px;
    min-height: 22%;
  }
}

@media (min-width: 768px) {
  #home .donations-become-container {
    min-height: 400px;
  }
  #home .donations-become-container:after {
    bottom: -36px;
    min-height: 25%;
  }
}

@media (min-width: 992px) {
  #home .donations-become-container {
    min-height: 500px;
  }
  #home .donations-become-container:after {
    bottom: -18px;
    min-height: 20%;
  }
}

@media (min-width: 1200px) {
  #home .donations-become-container::before {
    background-size: cover;
  }
  #home .donations-become-container:after {
    bottom: -6px;
    background-size: cover;
  }
}

@media (min-width: 382px) {
  #home .solmar-actions>div .text-cols .two-cols-text {
    bottom: 6%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div {
    width: 50%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div p {
    font-size: 14px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
    padding-left: 12px;
    padding-bottom: 18px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text {
    top: 8%;
    left: 0%;
    right: 0%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div p>span span {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(1) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
    font-size: 15px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
    line-height: 1;
  }
}

@media (min-width: 500px) {
  #home .solmar-actions>div .solmar-actions-backgruond img {
    max-width: 150%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text {
    bottom: 6%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div {
    width: 50%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div p {
    font-size: 14px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
    padding-left: 12px;
    padding-bottom: 18px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text {
    top: 22%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div {
    width: 25%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div p>span span {
    font-size: 30px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(1) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) {
    padding-right: 10px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) {
    padding-right: 18px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
    font-size: 16px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) {
    padding-right: 25px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
    line-height: 1;
  }
}

@media (min-width: 576px) {
  #home .gallery-container>div {
    margin-left: -15px;
    margin-right: -15px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img {
    display: flex;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div img {
    max-height: 372px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div:first-of-type {
    padding-right: 5px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img {
    position: relative;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img a>span {
    font-size: 60px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img a>span span {
    display: block;
  }
  #home .gallery-container>div .second-gallery>div.two-elements {
    display: flex;
  }
  #home .gallery-container>div .second-gallery>div.two-elements .special-back>div {
    padding-left: 10px;
    padding-right: 10px;
  }
  #home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span.first-line {
    font-size: 50px;
  }
  #home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span.second-line {
    font-size: 70px;
  }
  #home .gallery-container>div .second-gallery>div.two-elements .special-back>div>span span.third-line {
    font-size: 35px;
  }
  #home .our-work-container .text-fb-container {
    margin-left: -15px;
    margin-right: -15px;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 {
    font-size: 26px;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 span {
    font-size: 20px;
  }
  #home .confirm-donate-container .over-title .over-title-elements .custom-button {
    padding-top: 20px;
  }
  #home .confirm-donate-container .over-title .over-title-elements .custom-button a {
    font-size: 20px;
    padding: 10px 30px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text {
    bottom: 10%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div {
    width: 50%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div p {
    font-size: 16px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:first-of-type p {
    padding-left: 30px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
    padding-left: 15px;
    padding-bottom: 16px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text {
    top: 22%;
    left: 0%;
    right: 0%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div {
    width: 25%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div p>span span {
    font-size: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(1) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) {
    padding-right: 10px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
    font-size: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) {
    padding-right: 18px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
    font-size: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
    font-size: 18px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) {
    padding-right: 25px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
    font-size: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
    line-height: 1;
  }
}

@media (min-width: 768px) {
  #home .gallery-container>div {
    margin-left: -15px;
    margin-right: -15px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img {
    display: flex;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div img {
    max-height: 520px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd):first-of-type .two-img>div {
    padding-bottom: 10px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(even) {
    font-size: 32px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(even) p {
    line-height: unset;
  }
  #home .our-work-container .text-fb-container .work-text>div .bullets-text p {
    width: 92%;
  }
  #home .our-work-container .text-fb-container .work-text>div .bullets-text img {
    width: 8%;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 {
    font-size: 35px;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 span {
    font-size: 25px;
  }
  #home .confirm-donate-container .over-title .over-title-elements .custom-button a {
    font-size: 30px;
    padding: 10px 40px;
  }
  #home .solmar-actions>div .solmar-actions-backgruond img {
    max-width: 100%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text {
    bottom: 14%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div {
    width: 50%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div p {
    font-size: 16px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:first-of-type p {
    padding-left: 50px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
    padding-left: 15px;
    padding-bottom: 18px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text {
    top: 22%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div {
    width: 25%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div p>span span {
    font-size: 45px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(1) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) {
    padding-right: 10px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) {
    padding-right: 18px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
    font-size: 15px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) {
    padding-right: 25px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
    line-height: 1;
  }
}

@media (min-width: 992px) {
  #home .about-container>div {
    margin-left: -15px;
    margin-right: -15px;
  }
  #home .about-container>div .text-video-container {
    padding-top: 40px;
  }
  #home .about-container>div .text-video-container>div.about-text {
    padding-right: 60px;
  }
  #home .about-container>div .text-video-container>div.video-container {
    padding-left: 15px;
  }
  #home .commitment-container>div {
    padding-left: 20px;
    padding-right: 40px;
  }
  #home .commitment-container>div h1 {
    font-size: 60px;
    padding-bottom: 30px;
  }
  #home .commitment-container>div .text-img-container {
    padding-bottom: 70px;
  }
  #home .commitment-container>div .text-img-container .img-container .img-responsive {
    padding-right: 40px;
  }
  #home .commitment-container>div .text-img-container .commitment-text {
    padding-left: 50px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) {
    width: 37%;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img {
    display: flex;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div img {
    max-height: 316px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .two-img>div:first-of-type {
    padding-right: 10px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img {
    position: relative;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd) .one-img a>span {
    position: absolute;
    bottom: 0;
    left: 2%;
    font-size: 60px;
    font-family: "Open Sans Bold";
    font-weight: bold;
    text-transform: uppercase;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd):first-of-type {
    padding-right: 10px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd):first-of-type .two-img>div {
    padding-bottom: 10px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd):last-of-type {
    padding-left: 10px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd):last-of-type .two-img>div {
    padding-top: 10px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(odd):last-of-type .one-img a>span {
    font-size: 40px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(even) {
    width: 26%;
    font-size: 32px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(even) p {
    line-height: 1;
  }
  #home .gallery-container>div .second-gallery {
    display: flex;
  }
  #home .gallery-container>div .second-gallery>div {
    padding-right: 5px;
  }
  #home .gallery-container>div .second-gallery>div img {
    max-height: 245px;
  }
  #home .gallery-container>div .second-gallery>div.two-elements {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
  #home .gallery-container>div .second-gallery>div.two-elements>div {
    width: auto;
  }
  #home .gallery-container>div .second-gallery>div.purpose-link a>span {
    font-size: 45px;
  }
  #home .our-work-container .text-fb-container .work-text {
    width: 60%;
  }
  #home .our-work-container .text-fb-container .work-text>div .bullets-text:first-of-type p {
    width: 75%;
    padding-right: 70px;
  }
  #home .our-work-container .text-fb-container .fb-widget-container {
    width: 40%;
    display: block;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 {
    font-size: 40px;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 span {
    font-size: 25px;
  }
  #home .confirm-donate-container .over-title .over-title-elements .custom-button {
    padding-top: 30px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text {
    bottom: 16%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div {
    width: 50%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div p {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:first-of-type p {
    padding-left: 80px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
    padding-left: 15px;
    padding-bottom: 18px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text {
    top: 22%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div {
    width: 25%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div p>span span {
    font-size: 55px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(1) p {
    font-size: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) {
    padding-right: 10px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
    font-size: 30px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) {
    padding-right: 18px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
    font-size: 30px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
    font-size: 20px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) {
    padding-right: 25px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
    font-size: 30px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  #home .about-container>div {
    margin-left: -30px;
    margin-right: -30px;
  }
  #home .commitment-container>div {
    padding-left: 20px;
    padding-right: 40px;
  }
  #home .commitment-container>div h1 {
    font-size: 60px;
    padding-bottom: 30px;
  }
  #home .commitment-container>div .text-img-container {
    padding-bottom: 70px;
  }
  #home .commitment-container>div .text-img-container .img-container .img-responsive {
    padding-right: 80px;
  }
  #home .commitment-container>div .text-img-container .commitment-text {
    padding-left: 50px;
  }
  #home .gallery-container>div {
    margin-left: -35px;
    margin-right: -35px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(even) {
    font-size: 35px;
  }
  #home .gallery-container>div .third-gallery>div:nth-child(even) p {
    line-height: initial;
  }
  #home .gallery-container>div .second-gallery>div .two-elements.special-back>div>span span.first-line {
    font-size: 40px;
  }
  #home .gallery-container>div .second-gallery>div .two-elements.special-back>div>span span.first-line span {
    font-size: 60px;
  }
  #home .gallery-container>div .second-gallery>div .two-elements.special-back>div>span span.second-line {
    font-size: 85px;
  }
  #home .gallery-container>div .second-gallery>div .two-elements.special-back>div>span span.third-line {
    font-size: 45px;
  }
  #home .our-work-container .text-fb-container {
    margin-left: -30px;
    margin-right: -30px;
  }
  #home .confirm-donate-container .over-title .over-title-elements h1 span {
    font-size: 30px;
  }
  #home .solmar-actions h1 {
    text-align: center;
    margin-bottom: -50px;
    position: relative;
    z-index: 2;
    font-family: "Open Sans Bold";
    text-transform: uppercase;
    font-size: 45px;
    color: #606060;
  }
  #home .solmar-actions h1 span {
    font-family: "Open Sans Light";
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    color: #808ea4;
  }
  #home .solmar-actions>div .text-cols .two-cols-text {
    bottom: 16%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div {
    width: 50%;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div p {
    font-size: 26px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:first-of-type p {
    padding-left: 80px;
  }
  #home .solmar-actions>div .text-cols .two-cols-text>div:last-of-type p {
    padding-left: 15px;
    padding-bottom: 18px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text {
    top: 22%;
    left: 12%;
    right: 12%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div {
    width: 25%;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div p>span span {
    font-size: 65px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) {
    padding-right: 10px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(2) p {
    font-size: 40px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) {
    padding-right: 25px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p {
    font-size: 40px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(3) p>span:last-of-type {
    font-size: 30px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) {
    padding-right: 25px;
    padding-bottom: 25px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p {
    font-size: 40px;
  }
  #home .solmar-actions>div .text-cols .four-cols-text>div:nth-of-type(4) p>span {
    line-height: 1;
  }
}

#work .principal-container>div {
  position: relative;
}

#work .principal-container>div .principal-image:after {
  background-image: url("../img/border-imgs-bottom-3.png");
  min-height: 22%;
  bottom: -2px;
}

#work .principal-container>div.text-container h1 {
  font-size: 40px;
  color: #ec6867;
  font-family: "Lets Play";
}

#work .principal-container>div.text-container h1 span {
  font-size: 25px;
  font-family: "Open Sans Bold";
  display: block;
  text-transform: uppercase;
  color: black;
}

#work .principal-container>div.text-container .principal-text {
  font-size: 22px;
  color: #606060;
  font-family: "Lets Play";
  line-height: normal;
}

#work .principal-container>div.text-container .second-text {
  color: #808ea4;
  font-family: "Open Sans Light";
  font-size: 12px;
}

@media (min-width: 768px) {
  #work .principal-container>div.text-container h1 {
    font-size: 55px;
  }
  #work .principal-container>div.text-container h1 span {
    font-size: 35px;
  }
  #work .principal-container>div.text-container .principal-text {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  #work .principal-container>div.text-container {
    padding-left: 6%;
    padding-right: 6%;
  }
  #work .principal-container>div.text-container h1 {
    font-size: 58px;
  }
  #work .principal-container>div.text-container h1 span {
    font-size: 40px;
  }
  #work .principal-container>div.text-container .principal-text {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  #work .principal-container>div.text-container .principal-text {
    font-size: 38px;
  }
}

#work .kindness-container {
  background-image: url("../img/work/children-together-1.jpg");
}

#work .kindness-container .over-title h1 {
  width: 58%;
}

#work .kindness-container:before {
  content: "";
  background-image: url("../img/hands-border-4.png");
  top: 0;
  min-height: 46%;
}

#work .kindness-container:after {
  content: "";
  background-image: url("../img/border-imgs-bottom-2.png");
  bottom: -23px;
  min-height: 24%;
}

@media (min-width: 576px) {
  #work .kindness-container {
    min-height: 300px;
  }
  #work .kindness-container:after {
    bottom: -26px;
    min-height: 22%;
  }
}

@media (min-width: 768px) {
  #work .kindness-container {
    min-height: 400px;
  }
  #work .kindness-container:after {
    bottom: -36px;
    min-height: 25%;
  }
}

@media (min-width: 992px) {
  #work .kindness-container {
    min-height: 500px;
  }
  #work .kindness-container:after {
    bottom: -18px;
    min-height: 20%;
  }
}

@media (min-width: 1200px) {
  #work .kindness-container:before {
    background-size: cover;
  }
  #work .kindness-container:after {
    bottom: 0px;
    min-height: 30%;
    background-size: cover;
  }
}

#work>div {
  position: relative;
}

#help_us_help .principal-container>div {
  position: relative;
}

#help_us_help .principal-container>div .principal-image:after {
  background-image: url(../img/hands-border-1.png);
  min-height: 17%;
  bottom: -2px;
}

#help_us_help .principal-container>div.text-container {
  padding-top: 60px;
}

#help_us_help .principal-container>div.text-container h1 {
  color: #99c355;
  text-transform: uppercase;
  font-family: "Open Sans Bold";
}

#help_us_help .principal-container>div.text-container p {
  font-family: "Lets Play";
  color: #606060;
  font-size: 25px;
}

#help_us_help .green-container {
  background-color: #99c355;
}

#help_us_help .green-container>div {
  position: relative;
}

#help_us_help .green-container>div .position-text {
  padding: 10% 5%;
}

#help_us_help .green-container>div .position-text p {
  font-family: "Lets Play";
  font-size: 20px;
  color: white;
  line-height: normal;
}

@media (min-width: 576px) {
  #help_us_help .green-container>div .position-text p {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  #help_us_help .green-container>div .position-text p {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  #help_us_help .green-container>div .position-text p {
    font-size: 28px;
  }
  #help_us_help .green-container>div .position-text p span {
    display: block;
  }
}

#help_us_help .confirm-donate-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

#help_us_help .confirm-donate-container>div .confirm-donation-text h1 {
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  font-size: 20px;
}

#help_us_help .confirm-donate-container>div .confirm-donation-text p {
  font-size: 20px;
  font-family: "Open Sans Light";
  line-height: 1;
}

#help_us_help .confirm-donate-container>div .confirm-donation-text p span {
  display: block;
}

@media (min-width: 768px) {
  #help_us_help .confirm-donate-container>div .confirm-donation-text h1 {
    font-size: 32px;
  }
  #help_us_help .confirm-donate-container>div .confirm-donation-text p {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  #help_us_help .confirm-donate-container>div .confirm-donation-text h1 {
    font-size: 40px;
  }
  #help_us_help .confirm-donate-container>div .confirm-donation-text p {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  #help_us_help .confirm-donate-container>div .confirm-donation-text h1 {
    font-size: 45px;
  }
  #help_us_help .confirm-donate-container>div .confirm-donation-text p {
    font-size: 35px;
  }
}

#helping_hands {
  position: relative;
}

#helping_hands .principal-container .principal-image:after {
  background-image: url(../img/border-imgs-bottom-3.png);
  min-height: 22%;
  bottom: -3px;
}

#helping_hands .help-transform-container {
  background-image: url("../img/helping_hands/helping-old-people-1.jpg");
}

#helping_hands .help-transform-container .over-title h1 {
  width: 58%;
  border-bottom: none;
  padding-bottom: 20px;
}

#helping_hands .help-transform-container:before {
  content: "";
  background-image: url("../img/border-imgs-top-3.png");
  top: 0;
  min-height: 46%;
}

#helping_hands .help-transform-container:after {
  content: "";
  background-image: url("../img/border-imgs-bottom-3.png");
  bottom: -28px;
  min-height: 30%;
}

@media (min-width: 576px) {
  #helping_hands .help-transform-container {
    min-height: 300px;
  }
  #helping_hands .help-transform-container:after {
    bottom: -26px;
    min-height: 27%;
  }
}

@media (min-width: 768px) {
  #helping_hands .help-transform-container {
    min-height: 400px;
  }
  #helping_hands .help-transform-container:after {
    bottom: -36px;
    min-height: 26%;
  }
}

@media (min-width: 992px) {
  #helping_hands .help-transform-container {
    min-height: 600px;
  }
  #helping_hands .help-transform-container:after {
    bottom: -25px;
    min-height: 21%;
  }
}

@media (min-width: 1200px) {
  #helping_hands .help-transform-container:before {
    background-size: cover;
  }
  #helping_hands .help-transform-container:after {
    bottom: 0px;
    min-height: 30%;
    background-size: cover;
  }
}

#helping_hands .confirm-donate-container .text-center .confirm-donation-text p {
  font-family: "Lets Play";
  color: #606060;
}

#donate .principal-container .text-container>div h1 {
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: "Open Sans Bold";
}

#donate .principal-container .text-container>div p {
  color: #606060;
  font-family: "Open Sans Light";
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 18px;
}

#donate .principal-container .text-container>div p span {
  display: block;
  font-family: "Open Sans Bold";
}

#donate .principal-container .text-container>div p:last-of-type {
  margin-bottom: 0px;
}

#donate .principal-container .text-container>div.custom-button a {
  font-size: 27px;
  line-height: 1;
  background-color: #e8c244;
  padding: 10px 32px;
}

#donate .principal-container .text-container>div.custom-button a span {
  display: block;
  font-size: 13px;
  font-family: "Open Sans Light";
  font-weight: normal;
  text-transform: none;
}

#donate .principal-container .text-container>div.custom-button a:hover {
  background-color: #99c355;
}

#donate .principal-container .text-container>div:nth-of-type(1) {
  margin-bottom: 30px;
}

#donate .principal-container .text-container>div:nth-of-type(2) {
  margin-bottom: 60px;
}

#donate .principal-container .text-container>div:nth-of-type(3) h1:after {
  content: "";
  background-image: url(../img/donate/usa-flag.jpg);
  padding-left: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

#helping_hands .principal-container .text-container>h1 {
  font-family: "Lets Play";
  color: #e8c244;
  font-size: 45px;
  line-height: 1;
}

#helping_hands .principal-container .text-container>p {
  font-family: "Open Sans Bold";
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#helping_hands .principal-container .text-container>p span {
  display: block;
}

#helping_hands .principal-container .text-container .two-cols-text>div {
  text-align: left;
}

#helping_hands .principal-container .text-container .two-cols-text>div:first-of-type p {
  margin-bottom: 30px;
  color: #606060;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.4px;
}

#helping_hands .principal-container .text-container .two-cols-text>div:first-of-type p:last-of-type {
  font-family: "Lets Play";
  color: #e8c244;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

#helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container {
  padding: 25px 20px;
  background-color: #e8c244;
  color: white;
  font-weight: bold;
}

#helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container h1 {
  font-family: "Lets Play";
  margin-bottom: 0;
}

#helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container p {
  font-size: 14px;
  margin: 0;
}

@media (min-width: 576px) {
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container h1 {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  #helping_hands .principal-container .text-container .two-cols-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:first-of-type {
    padding-left: 8px;
    width: 45%;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type {
    width: 50%;
    padding-right: 17px;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container {
    padding: 25px 40px;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container h1 {
    font-size: 35px;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container p {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  #helping_hands .principal-container .text-container .two-cols-text>div:first-of-type {
    width: 38%;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type {
    width: 48%;
  }
  #helping_hands .principal-container .text-container .two-cols-text>div:last-of-type .yellow-container h1 {
    font-size: 50px;
  }
}

#helping_hands .principal-container .text-container .final-paragraph p {
  color: #808ea4;
  font-size: 19px;
  margin-top: 15px;
  font-family: "Open Sans Bold";
}

@media (min-width: 992px) {
  #helping_hands .principal-container .text-container>h1 {
    font-size: 58px;
  }
  #helping_hands .principal-container .text-container>p {
    font-size: 40px;
  }
}

#connect .contact-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

#connect .contact-container>div>div.contact-form {
  margin-bottom: 20px;
}

#connect .contact-container>div>div.contact-form form .btn {
  background-color: #99c355;
  color: white;
}

#connect .contact-container>div>div.contact-form form .btn:hover {
  background-color: #e8c244;
}

#connect .contact-container>div>div.contact-info {
  text-align: center;
}

#connect .contact-container>div>div.contact-info h1 {
  text-transform: uppercase;
  font-family: "Open Sans Bold";
  color: #99c355;
}

#connect .contact-container>div>div.contact-info p {
  font-size: 12px;
  line-height: 1;
}

#connect .contact-container>div>div.contact-info p a {
  color: black;
  font-weight: bold;
}

#connect .contact-container>div>div.contact-info p a:hover {
  border-bottom: 1px solid black;
}

#connect .contact-container>div>div.contact-info .confirm-donate-container>div .confirm-donation-text>p {
  text-transform: uppercase;
  font-family: "Open Sans Bold";
  line-height: unset;
  font-size: 16px;
}

#connect .contact-container>div>div.contact-info .confirm-donate-container>div .custom-button a {
  padding: 10px 40px;
  font-size: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #connect .contact-container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #connect .contact-container>div>div {
    width: 45%;
  }
  #connect .contact-container>div>div.contact-info {
    text-align: left;
  }
}

@media (min-width: 992px) {
  #connect .contact-container>div>div {
    width: 35%;
  }
}

#error .error-container {
  text-align: center;
}

#error .error-container h1 {
  color: #ff495c;
  font-size: 60px;
  text-transform: uppercase;
  margin: 100px auto;
  font-family: "Lets Play";
}

#error .error-container h1 span {
  display: block;
  font-size: 40px;
}

#message_sent .confirmation-message-container {
  padding: 30px;
}

#message_sent .confirmation-message-container h1, #message_sent .confirmation-message-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lets Play";
}

#message_sent .confirmation-message-container p a {
  color: black;
  font-weight: bold;
}

#message_sent .confirmation-message-container p a:hover {
  text-decoration: underline;
}

#footer .footer-sections {
  background-color: #1a1a1a;
}

#footer .footer-sections span {
  text-transform: uppercase;
}

#footer .footer-sections p {
  font-size: 12px;
  color: white;
}

#footer .footer-sections>section {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 576px) {
  #footer .footer-sections>section {
    padding-left: 0;
    padding-right: 0;
  }
}

#footer .footer-sections .first-footer-section .collapse-sections>div {
  text-align: center;
}

#footer .footer-sections .first-footer-section .collapse-sections>div h4 {
  color: #86c055;
  text-transform: uppercase;
  font-weight: bold;
}

#footer .footer-sections .first-footer-section .collapse-sections>div.newsletter-container .form-group .form-control {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer .footer-sections .first-footer-section .collapse-sections>div.newsletter-container button {
  background-color: #808ea4;
  padding-left: 30px;
  padding-right: 30px;
}

#footer .footer-sections .first-footer-section .collapse-sections>div.newsletter-container button:hover {
  background-color: #86c055;
}

@media (min-width: 768px) {
  #footer .footer-sections .first-footer-section .collapse-sections {
    display: flex;
    flex-wrap: wrap;
  }
  #footer .footer-sections .first-footer-section .collapse-sections>div {
    width: 33.3333333%;
    padding: 0 10px;
  }
  #footer .footer-sections .first-footer-section .collapse-sections>div h4 {
    margin-bottom: 15px;
  }
}

#footer .footer-sections .second-footer-section {
  padding: 15px 30px;
}

#footer .footer-sections .second-footer-section .website-links {
  display: flex;
  justify-content: center;
}

#footer .footer-sections .second-footer-section .website-links>div {
  display: inline-block;
  text-align: center;
}

#footer .footer-sections .second-footer-section .website-links>div .pages-links p {
  font-size: 12px;
  margin-bottom: 5px;
}

#footer .footer-sections .second-footer-section .website-links>div .pages-links p a span {
  color: #e2a530;
}

#footer .footer-sections .second-footer-section .website-links>div .social-media {
  font-size: 12px;
}

#footer .footer-sections .second-footer-section .website-links>div .social-media>span {
  color: #5b8890;
  font-weight: bold;
}

#footer .footer-sections .second-footer-section .website-links>div .social-media a {
  margin-left: 10px;
}

#footer .footer-sections .second-footer-section .website-links>div .social-media a span {
  color: white;
  font-size: 16px;
}

#footer .footer-sections .second-footer-section .website-links>div .social-media a:hover span {
  color: #86c055;
}

#footer .footer-sections .second-footer-section .copyright-container {
  text-align: center;
}

@media (min-width: 1200px) {
  #footer .footer-sections .second-footer-section .website-links>div {
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  #footer .footer-sections .second-footer-section .website-links {
    justify-content: flex-end;
  }
  #footer .footer-sections .second-footer-section .copyright-container {
    text-align: left;
  }
}

#footer .footer-sections a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  #footer .footer-sections {
    padding: 30px 0;
  }
}

.collapse-element-title {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.collapse-element-title:after {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #86c055;
  border-top: none;
  border-left: none;
  transform: rotate(225deg);
  content: "";
}

.collapse-element-title.collapsed:after {
  top: 10px;
  transform: rotate(45deg);
}

ul li {
  margin-bottom: 10px;
}

.collapse-element-title {
  cursor: pointer;
}

.visible-xs {
  display: none !important;
}

.visible-lg {
  display: block !important;
}

.collapse.show {
  display: block !important;
}

@media (max-width: 767px) {
  #items.in, #items.collapsing {
    display: block !important;
  }
  #items2.in, #items2.collapsing {
    display: block !important;
  }
  #items3.in, #items3.collapsing {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .visible-lg {
    display: none !important;
  }
  .item-description {
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  #crownDesc.collapse {
    display: block !important;
    height: auto !important;
  }
}

main#login .container {
  padding-bottom: 60px;
  padding-top: 60px;
}

main#login .container h1, main#blogs .container h1 {
  text-transform: uppercase;
  font-family: "Open Sans Bold";
  color: #99c355;
  font-size: 38px;
  margin-bottom: 15px;
}

main#blogs .container h1{
  margin-bottom: 30px;
}

main#login .container form button {
  background-color: #99c355;
  border: 0;
  color: white;
}

main#login .container form button:hover {
  background-color: #e8c244;
}

main#blogs a{
  color: #e2a530;
  float: right;
}

main#blogs h5{
  font-size: 25px;
}

main#blogs a:hover{
  color: #99c355;
}

/*# sourceMappingURL=style.css.map */