body img {
  max-width: 100%;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main .position-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
