//comand for compile "sass --watch sass:css --style compressed"
//Fonts
@font-face {
  font-family: "Lets Play";
  src: url(../fonts/Lets-Play.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
//Custom class
.button-radius-style {
  border-radius: 20px;
  text-transform: uppercase;
}
.two-cols {
  @media (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > div {
      width: 50%;
    }
  }
}
.three-cols {
  @media (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > div {
      width: 33.333%;
    }
  }
}
//General styles
body {
  font-family: "Open Sans";
  img {
    max-width: 100%;
  }
  button {
    color: white;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  a,
  button {
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  a {
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .custom-button {
    a {
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      background-color: #99c355;
      padding: 15px 40px;
      margin: 10px auto;
      display: inline-block;
      &:hover {
        background-color: #e8c244;
      }
      @media (min-width: 576px) {
        font-size: 25px;
      }
      @media (min-width: 768px) {
        font-size: 30px;
        margin: 15px auto;
      }
      @media (min-width: 992px) {
        font-size: 36px;
        margin: 20px auto;
      }
      @media (min-width: 1200px) {
        font-size: 40px;
        margin: 30px auto;
      }
    }
  }
  .special-border-top {
    position: absolute;
    top: 0;
    z-index: 1;
    @media (max-width: 576px) {
      top: -2px;
    }
  }
  .special-border-bottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .text-over-img {
    position: relative;
    a {
      > span {
        position: absolute;
        bottom: 0;
        left: 2%;
        font-size: 60px;
        font-family: "Open Sans Bold";
        font-weight: bold;
        text-transform: uppercase;
        span {
          display: block;
          line-height: 1;
        }
      }
    }
  }
  img,
  span {
    transition: all 0.5s ease-in-out;
  }
  .scale-img {
    overflow: hidden;
    a:hover {
      img {
        transform: scale(1.3);
      }
    }
  }
  main {
    .img-border {
      position: relative;
    }
    .special-text-img {
      position: relative;
      .over-title {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        h1 {
          text-align: center;
          font-family: "Lets Play";
          color: white;
          font-size: 32px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20%;
          width: 90%;
          margin: auto;
          line-height: 1;
          border-bottom: 1px solid #e8c244;
          padding-bottom: 10px;
          -moz-transform: translate(0%, 0%);
          -o-transform: translate(0%, 0%);
          -ms-transform: translate(0%, 0%);
          -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
          span {
            display: block;
          }
        }
        img {
          position: absolute;
          top: 40%;
          width: 40px;
        }
        .left-quote {
          left: 8%;
        }
        .right-quote {
          right: 8%;
        }
      }
      @media (min-width: 576px) {
        .over-title {
          h1 {
            padding-bottom: 20px;
            font-size: 45px;
          }
          img {
            top: 36%;
            width: 56px;
          }
          .left-quote {
            left: 8%;
          }
          .right-quote {
            right: 8%;
          }
        }
      }
      @media (min-width: 768px) {
        .over-title {
          h1 {
            padding-bottom: 50px;
            font-size: 55px;
          }
          img {
            top: 30%;
            width: 70px;
          }
          .left-quote {
            left: 12%;
          }
          .right-quote {
            right: 12%;
          }
        }
      }
      @media (min-width: 992px) {
        .over-title {
          h1 {
            padding-bottom: 70px;
            font-size: 70px;
          }
          img {
            top: 30%;
            width: 80px;
          }
          .left-quote {
            left: 12%;
          }
          .right-quote {
            right: 12%;
          }
        }
      }
      @media (min-width: 1200px) {
        .over-title {
          h1 {
            padding-bottom: 80px;
            font-size: 80px;
          }
          img {
            top: 40%;
          }
          .left-quote {
            left: 17%;
          }
          .right-quote {
            right: 17%;
          }
        }
      }
    }
    .five-cols-img {
      > div {
        padding: 20px 20px;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid;
        @media (min-width: 576px) {
          width: 33.3333%;
          padding: 10px 20px;
          border: none;
        }
        @media (min-width: 992px) {
          width: 20%;
        }
        &:last-of-type {
          border: none;
        }
      }
      @media (min-width: 576px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
    .confirm-donate-container {
      margin-bottom: 30px;
      margin-top: 30px;
      > div {
        .confirm-donation-text {
          h1 {
            font-family: "Open Sans Bold";
            text-transform: uppercase;
            font-size: 20px;
            span {
              font-family: "Open Sans light";
              display: block;
              text-transform: none;
              font-size: 15px;
            }
          }
          p {
            font-size: 20px;
            font-family: "Open Sans Light";
            line-height: 1;
            span {
              display: block;
            }
          }
          @media (min-width: 768px) {
            h1 {
              font-size: 32px;
              span {
                font-size: 25px;
              }
            }
            p {
              font-size: 28px;
            }
          }
          @media (min-width: 992px) {
            h1 {
              font-size: 40px;
              span {
                font-size: 30px;
              }
            }
            p {
              font-size: 30px;
            }
          }
          @media (min-width: 1200px) {
            h1 {
              font-size: 45px;
              span {
                font-size: 35px;
              }
            }
            p {
              font-size: 35px;
            }
          }
        }
      }
    }
    .parallax-effect {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 200px;
      .over-title {
        h1 {
          width: 58%;
        }
      }
      &::before,
      &::after {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
      }
      &:before {
        content: "";
        top: 0;
        min-height: 35%;
      }
      &:after {
        content: "";
        bottom: -23px;
        min-height: 24%;
      }
      @media (min-width: 576px) {
        min-height: 300px;
        &:after {
          bottom: -26px;
          min-height: 22%;
        }
      }
      @media (min-width: 768px) {
        min-height: 400px;
        &:after {
          bottom: -36px;
          min-height: 25%;
        }
      }
      @media (min-width: 992px) {
        min-height: 500px;
        &:after {
          bottom: -18px;
          min-height: 20%;
        }
      }
      @media (min-width: 1200px) {
        &:after {
          bottom: -6px;
          min-height: 25%;
        }
      }
    }
    .principal-container {
      position: relative;
      .principal-image:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        min-height: 13%;
        width: 100%;
        bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

//Header Styles
#header {
  .green-bar {
    background-color: #99c355;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .social-media {
        a {
          margin-left: 10px;
          span {
            color: white;
          }
          &:hover {
            span {
              color: black;
            }
          }
        }
        @media (min-width: 480px) {
          margin-left: 40px;
        }
      }
      .buttons-header {
        display: flex;
        flex-wrap: wrap;
        > div {
          a,
          button {
            padding: 0 20px;
            &:hover {
              background: black;
            }
          }
          a {
            display: inline-block;
          }
        }
        .translate-button {
          form {
            button {
              &:focus {
                outline: 0;
              }
            }
          }
        }
      }
    }
  }
  .navbar-header {
    font-weight: bold;
    .navbar,
    .fixed-top {
      background-color: white;
      padding: 0;
      .navbar-brand {
        max-width: 25%;
      }
      .justify-content-end {
        text-transform: uppercase;
        font-family: "Open Sans Bold";
      }
      .navbar-toggler {
        border-color: rgba(0, 0, 0, 0.1);
      }
    }
    .fixed-top {
      padding-left: 15px;
      padding-right: 15px;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
      .navbar-brand {
        max-width: 20%;
      }
    }
  }
}

//Pages styles
#principal_page {
  .main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .video-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      video{
        min-width: 100%;
        min-height: 100%;
      }
    }
    .position-center {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      .img-container {
        width: 80%;
        margin-bottom: 77px;
      }
      form {
        width: 100%;
        .buttons_languaje {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around;
          a {
            width: 30%;
            margin: 30px;
            button {
              font-family: "Lets Play";
              text-transform: uppercase;
              -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
              transition: 0.5s;
              background-color: #e8c244;
              width: 100%;
              padding: 4px;
              &:hover {
                background-color: #1a1a1a;
              }
            }
          }
        }
      }
      @media (min-width: 480px) {
        width: 60%;
      }
      @media (min-width: 768px) {
        width: 50%;
      }
      @media (min-width: 1024px) {
        width: 40%;
      }
    }
  }
}

#home {
  .modal {
    .modal-dialog {
      .modal-content {
        .row {
          margin: 0;
          .col-sm-6 {
            padding: 0;
            &:last-of-type {
              > div:not(.close-button) {
                width: 80%;
                margin: 0 auto;
                padding-top: 32px;
                .social-media-info {
                  font-family: "Lets Play";
                  h1 {
                    color: #b4a269;
                    font-size: 52px;
                  }
                  p {
                    font-family: "Open Sans";
                  }
                  .social-media-buttons {
                    > div {
                      margin-bottom: 10px;
                      a {
                        background-color: #b4a269;
                        text-align: center;
                        display: block;
                        text-transform: uppercase;
                        font-size: 25px;
                        padding: 5px;
                        &:hover {
                          background: black;
                        }
                      }
                      &:first-of-type {
                        margin-bottom: 20px;
                      }
                      &:last-of-type {
                        text-align: right;
                        margin-bottom: 0px;
                        a {
                          background-color: transparent;
                          color: #b4a269;
                          display: inline;
                          font-size: 30px;
                          padding: 0;
                          &:hover {
                            color: black;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .close-button {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
  .principal-container {
    .principal-image:after {
      background-image: url(../img/hands-border-1.png);
    }
  }
  .about-container {
    > div {
      padding-top: 50px;
      padding-bottom: 30px;
      h5 {
        color: #808ea4;
        font-weight: bold;
        margin-bottom: 35px;
      }
      hr {
        width: 90%;
        background-color: #5d8992;
        //height: 0.5px;
      }
      .text-video-container {
        padding-top: 20px;
        > div {
          &.about-text {
            /* padding-right: 60px; */
            h1 {
              font-family: "Lets Play";
              margin-bottom: 30px;
              color: #5d8992;
              font-size: 56px;
            }
            p {
              font-size: 14px;
              color: #808ea4;
              &:first-of-type {
                margin-bottom: 20px;
              }
            }
          }
          &.video-container {
            /* padding-left: 15px; */
            .video-responsive {
              position: relative;
              padding-bottom: 51%; /* 16/9 ratio */
              padding-top: 30px; /* IE6 workaround*/
              height: 0;
              overflow: hidden;
            }
            .video-responsive iframe,
            .video-responsive object,
            .video-responsive embed {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .commitment-container {
    padding-top: 30px;
    padding-bottom: 30px;
    > div {
      h1 {
        font-family: "Lets Play";
        color: #99c355;
        font-size: 60px;
        padding-bottom: 10px;
      }
      .text-img-container {
        border-bottom: 2px solid rgb(128, 142, 164, 0.4);
        padding-bottom: 30px;
        .img-container {
          padding-bottom: 15px;
        }
        .commitment-text {
          p {
            font-size: 14px;
            color: #808ea4;
            margin-bottom: 30px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .confirm-donate-container {
    position: relative;
    margin-bottom: 0;
    background-image: url("../img/home/confirm-donation-1.jpg");
    &:before {
      content: "";
      background-image: url("../img/hands-border-2.png");
      top: 0;
      min-height: 35%;
    }
    &:after {
      content: none;
    }
    .over-title {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      .over-title-elements {
        text-align: center;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8%;
        margin: auto;
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        h1 {
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          margin: 0 auto;
          span {
            display: block;
            font-family: "Open Sans Light";
            font-weight: normal;
            font-size: 12px;
            text-transform: none;
          }
        }
        .custom-button {
          padding-top: 5px;
          a {
            font-size: 10px;
            padding: 10px 20px;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      &:after,
      &:before {
        background-size: cover;
      }
    }
  }
  .solmar-actions {
    h1 {
      text-align: center;
      margin-bottom: -10px;
      position: relative;
      z-index: 2;
      font-family: "Open Sans Bold";
      text-transform: uppercase;
      font-size: 25px;
      color: #606060;
      span {
        font-family: "Open Sans Light";
        display: block;
        font-size: 15px;
        font-weight: bold;
        text-transform: none;
        color: #808ea4;
      }
    }
    > div {
      position: relative;
      .special-border-top {
        top: -3;
      }
      .solmar-actions-backgruond {
        position: relative;
        &:before {
          content: "";
          background-image: url("../img/border-imgs-top.png");
          position: absolute;
          left: 0;
          right: 0;
          min-height: 22%;
          width: 100%;
          top: 0;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &:after {
          content: "";
          background-image: url("../img/border-imgs-bottom-1.png");
          position: absolute;
          left: 0;
          right: 0;
          min-height: 10%;
          width: 100%;
          bottom: -4px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        img {
          max-width: 230%;
        }
        @media (min-width: 500px) {
          &:after {
            min-height: 15%;
            bottom: -2px;
          }
        }
        @media (min-width: 576px) {
          &:after {
            bottom: -3px;
          }
        }
        @media (min-width: 768px) {
          &:after {
            min-height: 22%;
          }
        }
      }
      .text-cols {
        .four-cols-text,
        .two-cols-text {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          position: absolute;
          z-index: 1;
          p {
            font-family: "Lets Play";
            color: white;
            text-align: center;
            > span {
              display: block;
              line-height: normal;
              span {
                font-size: 15px;
              }
            }
          }
        }
        .four-cols-text {
          top: 9%;
          left: 0;
          right: 0;
          > div {
            width: 50%;
            p {
              margin-bottom: 5px;
            }
            &:nth-of-type(1) {
              p {
                font-size: 15px;
              }
            }
            &:nth-of-type(2) {
              padding-bottom: 15px;
              p {
                font-size: 18px;
              }
            }
            &:nth-of-type(3) {
              p {
                font-size: 15px;
                > span:last-of-type {
                  font-size: 14px;
                }
              }
            }
            &:nth-of-type(4) {
              p {
                font-size: 15px;
                > span {
                  line-height: 1;
                }
              }
            }
          }
        }
        .two-cols-text {
          bottom: 0%;
          left: 1%;
          right: 1%;
          > div {
            width: 50%;
            p {
              font-size: 14px;
            }
            &:last-of-type {
              p {
                padding-left: 15px;
                padding-bottom: 18px;
              }
            }
          }
        }
      }
    }
  }
  .our-work-container {
    .text-fb-container {
      .work-text {
        h1 {
          font-family: "Open Sans Bold";
          text-transform: uppercase;
          font-size: 35px;
        }
        hr {
          width: 85%;
          background-color: #808ea4;
        }
        > div {
          .bullets-text {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            p {
              width: 90%;
              font-size: 24px;
              color: #606060;
              line-height: 1;
              font-family: "Open Sans Light";
            }
            img {
              width: 10%;
              padding-right: 15px;
              padding-top: 5px;
              height: 100%;
            }
            &:first-of-type {
              p {
                border-top: 1.5px solid rgb(128, 142, 164, 0.7);
                margin-top: 10px;
                padding-top: 20px;
              }
            }
          }
        }
      }
      .fb-widget-container {
        display: none;
      }
    }
  }
  .gallery-container {
    margin-bottom: 60px;
    > div {
      .row-gallery {
        display: flex;
        margin-bottom: 10px;
        > div {
          img {
            max-height: 160px;
          }
        }
        &.first-gallery {
          padding-bottom: 30px;
        }
        &.four-gallery {
          margin-top: 30px;
          > div {
            img {
              max-height: 165px;
            }
          }
        }
      }
      .second-gallery {
        justify-content: space-between;
        padding-bottom: 5px;
        > div {
          &:last-of-type {
            padding: 0;
          }
          &.purpose-link {
            a {
              > span {
                font-size: 45px;
              }
            }
          }
          &.help-link {
            a {
              > span {
                font-size: 52px;
                left: 0;
                right: 0;
                span {
                  text-align: center;
                }
              }
            }
          }
          &.two-elements {
            display: flex;
            padding-top: 5px;
            padding-bottom: 5px;
            .special-back {
              padding-right: 5px;
              > div {
                background-color: #ec6867;
                color: white;
                font-family: "Lets Play";
                display: flex;
                justify-content: center;
                height: 100%;
                align-items: center;
                > span {
                  span {
                    display: block;
                    line-height: 1;
                    text-align: center;
                    &.first-line {
                      font-size: 40px;
                    }
                    &.second-line {
                      font-size: 65px;
                      text-transform: uppercase;
                    }
                    &.third-line {
                      font-size: 35px;
                    }
                  }
                }
              }
            }
            > div {
              width: 50%;
            }
          }
        }
      }
      .third-gallery {
        align-items: initial;
        justify-content: space-between;
        > div {
          &:nth-child(odd) {
            .two-img {
              display: flex;
              > div {
                img {
                  max-height: 520px;
                }
                &:first-of-type {
                  padding-right: 5px;
                }
              }
            }
            .one-img {
              position: relative;
              a {
                > span {
                  position: absolute;
                  bottom: 0;
                  left: 2%;
                  font-size: 30px;
                  font-family: "Open Sans Bold";
                  font-weight: bold;
                  text-transform: uppercase;
                  line-height: 1;
                  span {
                    line-height: 1;
                  }
                }
              }
            }
            &:first-of-type {
              padding-bottom: 5px;
              .two-img {
                > div {
                  padding-bottom: 5px;
                }
              }
            }
            &:last-of-type {
              padding-top: 5px;
              .two-img {
                > div {
                  padding-top: 5px;
                }
              }
            }
          }
          &:nth-child(even) {
            position: relative;
            background: #99c355;
            max-height: 100%;
            color: #ffffff;
            font-family: "Lets Play";
            padding: 15px;
            font-size: 35px;
            text-align: center;
            display: flex;
            align-items: center;
            > div {
              position: absolute;
              width: 30%;
              opacity: 0.5;
              &.first-img {
                left: 5%;
                top: 3%;
              }
              &.second-img {
                right: 5%;
                bottom: 3%;
              }
            }
            p {
              z-index: 2;
              line-height: 1;
            }
          }
        }
      }
    }
  }
  .donations-become-container {
    background-image: url("../img/home/heart-hands-1.jpg");
    .over-title {
      h1 {
        width: 58%;
      }
    }
    &:before {
      content: "";
      background-image: url("../img/hands-border-2.png");
      top: 0;
      min-height: 35%;
    }
    &:after {
      content: "";
      background-image: url("../img/border-imgs-bottom-2.png");
      bottom: -23px;
      min-height: 24%;
    }
    @media (min-width: 576px) {
      min-height: 300px;
      &:after {
        bottom: -26px;
        min-height: 22%;
      }
    }
    @media (min-width: 768px) {
      min-height: 400px;
      &:after {
        bottom: -36px;
        min-height: 25%;
      }
    }
    @media (min-width: 992px) {
      min-height: 500px;
      &:after {
        bottom: -18px;
        min-height: 20%;
      }
    }
    @media (min-width: 1200px) {
      &::before {
        background-size: cover;
      }
      &:after {
        bottom: -6px;
        background-size: cover;
      }
    }
  }
  @media (min-width: 382px) {
    .solmar-actions {
      > div {
        .text-cols {
          .two-cols-text {
            bottom: 6%;
            left: 12%;
            right: 12%;
            > div {
              width: 50%;
              p {
                font-size: 14px;
              }
              &:last-of-type {
                p {
                  padding-left: 12px;
                  padding-bottom: 18px;
                }
              }
            }
          }
          .four-cols-text {
            top: 8%;
            left: 0%;
            right: 0%;
            > div {
              p {
                > span {
                  span {
                    font-size: 20px;
                  }
                }
              }
              &:nth-of-type(1) {
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(2) {
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(3) {
                p {
                  font-size: 20px;
                  > span:last-of-type {
                    font-size: 15px;
                  }
                }
              }
              &:nth-of-type(4) {
                p {
                  font-size: 20px;
                  > span {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 500px) {
    .solmar-actions {
      > div {
        .solmar-actions-backgruond {
          img {
            max-width: 150%;
          }
        }
        .text-cols {
          .two-cols-text {
            bottom: 6%;
            left: 12%;
            right: 12%;
            > div {
              width: 50%;
              p {
                font-size: 14px;
              }
              &:last-of-type {
                p {
                  padding-left: 12px;
                  padding-bottom: 18px;
                }
              }
            }
          }
          .four-cols-text {
            top: 22%;
            > div {
              width: 25%;
              p {
                > span {
                  span {
                    font-size: 30px;
                  }
                }
              }
              &:nth-of-type(1) {
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(2) {
                padding-right: 10px;
                padding-bottom: 25px;
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(3) {
                padding-right: 18px;
                padding-bottom: 25px;
                p {
                  font-size: 20px;
                  > span:last-of-type {
                    font-size: 16px;
                  }
                }
              }
              &:nth-of-type(4) {
                padding-right: 25px;
                padding-bottom: 25px;
                p {
                  font-size: 20px;
                  > span {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 576px) {
    .gallery-container {
      > div {
        margin-left: -15px;
        margin-right: -15px;
        .third-gallery {
          > div {
            &:nth-child(odd) {
              .two-img {
                display: flex;
                > div {
                  img {
                    max-height: 372px;
                  }
                  &:first-of-type {
                    padding-right: 5px;
                  }
                }
              }
              .one-img {
                position: relative;
                a {
                  > span {
                    font-size: 60px;
                    span {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
        .second-gallery {
          > div {
            &.two-elements {
              display: flex;
              .special-back {
                > div {
                  padding-left: 10px;
                  padding-right: 10px;
                  > span {
                    span {
                      &.first-line {
                        font-size: 50px;
                      }
                      &.second-line {
                        font-size: 70px;
                      }
                      &.third-line {
                        font-size: 35px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .our-work-container {
      .text-fb-container {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .confirm-donate-container {
      .over-title {
        .over-title-elements {
          h1 {
            font-size: 26px;
            span {
              font-size: 20px;
            }
          }
          .custom-button {
            padding-top: 20px;
            a {
              font-size: 20px;
              padding: 10px 30px;
            }
          }
        }
      }
    }
    .solmar-actions {
      > div {
        .text-cols {
          .two-cols-text {
            bottom: 10%;
            left: 12%;
            right: 12%;
            > div {
              width: 50%;
              p {
                font-size: 16px;
              }
              &:first-of-type {
                p {
                  padding-left: 30px;
                }
              }
              &:last-of-type {
                p {
                  padding-left: 15px;
                  padding-bottom: 16px;
                }
              }
            }
          }
          .four-cols-text {
            top: 22%;
            left: 0%;
            right: 0%;
            > div {
              width: 25%;
              p {
                > span {
                  span {
                    font-size: 25px;
                  }
                }
              }
              &:nth-of-type(1) {
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(2) {
                padding-right: 10px;
                padding-bottom: 25px;
                p {
                  font-size: 25px;
                }
              }
              &:nth-of-type(3) {
                padding-right: 18px;
                padding-bottom: 25px;
                p {
                  font-size: 25px;
                  > span:last-of-type {
                    font-size: 18px;
                  }
                }
              }
              &:nth-of-type(4) {
                padding-right: 25px;
                padding-bottom: 25px;
                p {
                  font-size: 25px;
                  > span {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .gallery-container {
      > div {
        margin-left: -15px;
        margin-right: -15px;
        .third-gallery {
          > div {
            &:nth-child(odd) {
              .two-img {
                display: flex;
                > div {
                  img {
                    max-height: 520px;
                  }
                }
              }
              &:first-of-type {
                .two-img {
                  > div {
                    padding-bottom: 10px;
                  }
                }
              }
            }
            &:nth-child(even) {
              font-size: 32px;
              p {
                line-height: unset;
              }
            }
          }
        }
      }
    }
    .our-work-container {
      .text-fb-container {
        .work-text {
          > div {
            .bullets-text {
              p {
                width: 92%;
              }
              img {
                width: 8%;
              }
            }
          }
        }
      }
    }
    .confirm-donate-container {
      .over-title {
        .over-title-elements {
          h1 {
            font-size: 35px;
            span {
              font-size: 25px;
            }
          }
          .custom-button {
            a {
              font-size: 30px;
              padding: 10px 40px;
            }
          }
        }
      }
    }
    .solmar-actions {
      > div {
        .solmar-actions-backgruond {
          img {
            max-width: 100%;
          }
        }
        .text-cols {
          .two-cols-text {
            bottom: 14%;
            left: 12%;
            right: 12%;
            > div {
              width: 50%;
              p {
                font-size: 16px;
              }
              &:first-of-type {
                p {
                  padding-left: 50px;
                }
              }
              &:last-of-type {
                p {
                  padding-left: 15px;
                  padding-bottom: 18px;
                }
              }
            }
          }
          .four-cols-text {
            top: 22%;
            left: 12%;
            right: 12%;
            > div {
              width: 25%;
              p {
                > span {
                  span {
                    font-size: 45px;
                  }
                }
              }
              &:nth-of-type(1) {
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(2) {
                padding-right: 10px;
                padding-bottom: 25px;
                p {
                  font-size: 20px;
                }
              }
              &:nth-of-type(3) {
                padding-right: 18px;
                padding-bottom: 25px;
                p {
                  font-size: 20px;
                  > span:last-of-type {
                    font-size: 15px;
                  }
                }
              }
              &:nth-of-type(4) {
                padding-right: 25px;
                padding-bottom: 25px;
                p {
                  font-size: 20px;
                  > span {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    .about-container {
      > div {
        margin-left: -15px;
        margin-right: -15px;
        .text-video-container {
          padding-top: 40px;
          > div {
            &.about-text {
              padding-right: 60px;
            }
            &.video-container {
              padding-left: 15px;
            }
          }
        }
      }
    }
    .commitment-container {
      > div {
        padding-left: 20px;
        padding-right: 40px;
        h1 {
          font-size: 60px;
          padding-bottom: 30px;
        }
        .text-img-container {
          padding-bottom: 70px;
          .img-container {
            .img-responsive {
              padding-right: 40px;
            }
          }
          .commitment-text {
            padding-left: 50px;
          }
        }
      }
    }
    .gallery-container {
      > div {
        .third-gallery {
          > div {
            &:nth-child(odd) {
              width: 37%;
              .two-img {
                display: flex;
                > div {
                  img {
                    max-height: 316px;
                  }
                  &:first-of-type {
                    padding-right: 10px;
                  }
                }
              }
              .one-img {
                position: relative;
                a {
                  > span {
                    position: absolute;
                    bottom: 0;
                    left: 2%;
                    font-size: 60px;
                    font-family: "Open Sans Bold";
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                }
              }
              &:first-of-type {
                padding-right: 10px;
                .two-img {
                  > div {
                    padding-bottom: 10px;
                  }
                }
              }
              &:last-of-type {
                padding-left: 10px;
                .two-img {
                  > div {
                    padding-top: 10px;
                  }
                }
                .one-img {
                  a {
                    > span {
                      font-size: 40px;
                    }
                  }
                }
              }
            }
            &:nth-child(even) {
              width: 26%;
              font-size: 32px;
              p {
                line-height: 1;
              }
            }
          }
        }
        .second-gallery {
          display: flex;
          > div {
            padding-right: 5px;
            img {
              max-height: 245px;
            }
            &.two-elements {
              display: flex;
              padding-top: 0;
              padding-bottom: 0;
              > div {
                width: auto;
              }
            }
            &.purpose-link {
              a {
                > span {
                  font-size: 45px;
                }
              }
            }
          }
        }
      }
    }
    .our-work-container {
      .text-fb-container {
        .work-text {
          width: 60%;
          > div {
            .bullets-text {
              &:first-of-type {
                p {
                  width: 75%;
                  padding-right: 70px;
                }
              }
            }
          }
        }
        .fb-widget-container {
          width: 40%;
          display: block;
        }
      }
    }
    .confirm-donate-container {
      .over-title {
        .over-title-elements {
          h1 {
            font-size: 40px;
            span {
              font-size: 25px;
            }
          }
          .custom-button {
            padding-top: 30px;
          }
        }
      }
    }
    .solmar-actions {
      > div {
        .text-cols {
          .two-cols-text {
            bottom: 16%;
            left: 12%;
            right: 12%;
            > div {
              width: 50%;
              p {
                font-size: 20px;
              }
              &:first-of-type {
                p {
                  padding-left: 80px;
                }
              }
              &:last-of-type {
                p {
                  padding-left: 15px;
                  padding-bottom: 18px;
                }
              }
            }
          }
          .four-cols-text {
            top: 22%;
            left: 12%;
            right: 12%;
            > div {
              width: 25%;
              p {
                > span {
                  span {
                    font-size: 55px;
                  }
                }
              }
              &:nth-of-type(1) {
                p {
                  font-size: 25px;
                }
              }
              &:nth-of-type(2) {
                padding-right: 10px;
                padding-bottom: 25px;
                p {
                  font-size: 30px;
                }
              }
              &:nth-of-type(3) {
                padding-right: 18px;
                padding-bottom: 25px;
                p {
                  font-size: 30px;
                  > span:last-of-type {
                    font-size: 20px;
                  }
                }
              }
              &:nth-of-type(4) {
                padding-right: 25px;
                padding-bottom: 25px;
                p {
                  font-size: 30px;
                  > span {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .about-container {
      > div {
        margin-left: -30px;
        margin-right: -30px;
      }
    }
    .commitment-container {
      > div {
        padding-left: 20px;
        padding-right: 40px;
        h1 {
          font-size: 60px;
          padding-bottom: 30px;
        }
        .text-img-container {
          padding-bottom: 70px;
          .img-container {
            .img-responsive {
              padding-right: 80px;
            }
          }
          .commitment-text {
            padding-left: 50px;
          }
        }
      }
    }
    .gallery-container {
      > div {
        margin-left: -35px;
        margin-right: -35px;
        .third-gallery {
          > div {
            &:nth-child(even) {
              font-size: 35px;
              p {
                line-height: initial;
              }
            }
          }
        }
        .second-gallery {
          > div {
            .two-elements {
              &.special-back {
                > div {
                  > span {
                    span {
                      &.first-line {
                        font-size: 40px;
                        span {
                          font-size: 60px;
                        }
                      }
                      &.second-line {
                        font-size: 85px;
                      }
                      &.third-line {
                        font-size: 45px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .our-work-container {
      .text-fb-container {
        margin-left: -30px;
        margin-right: -30px;
      }
    }
    .confirm-donate-container {
      .over-title {
        .over-title-elements {
          h1 {
            span {
              font-size: 30px;
            }
          }
        }
      }
    }
    .solmar-actions {
      h1 {
        text-align: center;
        margin-bottom: -50px;
        position: relative;
        z-index: 2;
        font-family: "Open Sans Bold";
        text-transform: uppercase;
        font-size: 45px;
        color: #606060;
        span {
          font-family: "Open Sans Light";
          display: block;
          font-size: 20px;
          font-weight: bold;
          text-transform: none;
          color: #808ea4;
        }
      }
      > div {
        .text-cols {
          .two-cols-text {
            bottom: 16%;
            left: 12%;
            right: 12%;
            > div {
              width: 50%;
              p {
                font-size: 26px;
              }
              &:first-of-type {
                p {
                  padding-left: 80px;
                }
              }
              &:last-of-type {
                p {
                  padding-left: 15px;
                  padding-bottom: 18px;
                }
              }
            }
          }
          .four-cols-text {
            top: 22%;
            left: 12%;
            right: 12%;
            > div {
              width: 25%;
              p {
                > span {
                  span {
                    font-size: 65px;
                  }
                }
              }
              &:nth-of-type(2) {
                padding-right: 10px;
                padding-bottom: 25px;
                p {
                  font-size: 40px;
                }
              }
              &:nth-of-type(3) {
                padding-right: 25px;
                padding-bottom: 25px;
                p {
                  font-size: 40px;
                  > span:last-of-type {
                    font-size: 30px;
                  }
                }
              }
              &:nth-of-type(4) {
                padding-right: 25px;
                padding-bottom: 25px;
                p {
                  font-size: 40px;
                  > span {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#work {
  .principal-container {
    > div {
      position: relative;
      .principal-image:after {
        background-image: url("../img/border-imgs-bottom-3.png");
        min-height: 22%;
        bottom: -2px;
      }
      &.text-container {
        h1 {
          font-size: 40px;
          color: #ec6867;
          font-family: "Lets Play";
          span {
            font-size: 25px;
            font-family: "Open Sans Bold";
            display: block;
            text-transform: uppercase;
            color: black;
          }
        }
        .principal-text {
          font-size: 22px;
          color: #606060;
          font-family: "Lets Play";
          line-height: normal;
        }
        .second-text {
          color: #808ea4;
          font-family: "Open Sans Light";
          font-size: 12px;
        }
        @media (min-width: 768px) {
          h1 {
            font-size: 55px;
            span {
              font-size: 35px;
            }
          }
          .principal-text {
            font-size: 28px;
          }
        }
        @media (min-width: 992px) {
          padding-left: 6%;
          padding-right: 6%;
          h1 {
            font-size: 58px;
            span {
              font-size: 40px;
            }
          }
          .principal-text {
            font-size: 32px;
          }
        }
        @media (min-width: 1200px) {
          .principal-text {
            font-size: 38px;
          }
        }
      }
    }
  }
  .kindness-container {
    background-image: url("../img/work/children-together-1.jpg");
    .over-title {
      h1 {
        width: 58%;
      }
    }
    &:before {
      content: "";
      background-image: url("../img/hands-border-4.png");
      top: 0;
      min-height: 46%;
    }
    &:after {
      content: "";
      background-image: url("../img/border-imgs-bottom-2.png");
      bottom: -23px;
      min-height: 24%;
    }
    @media (min-width: 576px) {
      min-height: 300px;
      &:after {
        bottom: -26px;
        min-height: 22%;
      }
    }
    @media (min-width: 768px) {
      min-height: 400px;
      &:after {
        bottom: -36px;
        min-height: 25%;
      }
    }
    @media (min-width: 992px) {
      min-height: 500px;
      &:after {
        bottom: -18px;
        min-height: 20%;
      }
    }
    @media (min-width: 1200px) {
      &:before {
        background-size: cover;
      }
      &:after {
        bottom: 0px;
        min-height: 30%;
        background-size: cover;
      }
    }
  }
  > div {
    position: relative;
  }
}

#help_us_help {
  .principal-container {
    > div {
      position: relative;
      .principal-image:after {
        background-image: url(../img/hands-border-1.png);
        min-height: 17%;
        bottom: -2px;
      }
      &.text-container {
        padding-top: 60px;
        h1 {
          color: #99c355;
          text-transform: uppercase;
          font-family: "Open Sans Bold";
        }
        p {
          font-family: "Lets Play";
          color: #606060;
          font-size: 25px;
        }
      }
    }
  }
  .green-container {
    background-color: #99c355;
    > div {
      position: relative;
      .position-text {
        padding: 10% 5%;
        p {
          font-family: "Lets Play";
          font-size: 20px;
          color: white;
          line-height: normal;
          @media (min-width: 576px) {
            font-size: 22px;
          }
          @media (min-width: 768px) {
            font-size: 26px;
          }
          @media (min-width: 1200px) {
            font-size: 28px;
            span {
              display: block;
            }
          }
        }
      }
    }
  }
  .confirm-donate-container {
    margin-bottom: 30px;
    margin-top: 30px;
    > div {
      .confirm-donation-text {
        h1 {
          font-family: "Open Sans Bold";
          text-transform: uppercase;
          font-size: 20px;
        }
        p {
          font-size: 20px;
          font-family: "Open Sans Light";
          line-height: 1;
          span {
            display: block;
          }
        }
        @media (min-width: 768px) {
          h1 {
            font-size: 32px;
          }
          p {
            font-size: 28px;
          }
        }
        @media (min-width: 992px) {
          h1 {
            font-size: 40px;
          }
          p {
            font-size: 30px;
          }
        }
        @media (min-width: 1200px) {
          h1 {
            font-size: 45px;
          }
          p {
            font-size: 35px;
          }
        }
      }
    }
  }
}

#helping_hands {
  position: relative;
  .principal-container {
    .principal-image:after {
      background-image: url(../img/border-imgs-bottom-3.png);
      min-height: 22%;
      bottom: -3px;
    }
  }
  .help-transform-container {
    background-image: url("../img/helping_hands/helping-old-people-1.jpg");
    .over-title {
      h1 {
        width: 58%;
        border-bottom: none;
        padding-bottom: 20px;
      }
    }
    &:before {
      content: "";
      background-image: url("../img/border-imgs-top-3.png");
      top: 0;
      min-height: 46%;
    }
    &:after {
      content: "";
      background-image: url("../img/border-imgs-bottom-3.png");
      bottom: -28px;
      min-height: 30%;
    }
    @media (min-width: 576px) {
      min-height: 300px;
      &:after {
        bottom: -26px;
        min-height: 27%;
      }
    }
    @media (min-width: 768px) {
      min-height: 400px;
      &:after {
        bottom: -36px;
        min-height: 26%;
      }
    }
    @media (min-width: 992px) {
      min-height: 600px;
      &:after {
        bottom: -25px;
        min-height: 21%;
      }
    }
    @media (min-width: 1200px) {
      &:before {
        background-size: cover;
      }
      &:after {
        bottom: 0px;
        min-height: 30%;
        background-size: cover;
      }
    }
  }
  .confirm-donate-container {
    .text-center {
      .confirm-donation-text {
        p {
          font-family: "Lets Play";
          color: #606060;
        }
      }
    }
  }
}

#donate {
  .principal-container {
    .text-container {
      > div {
        h1 {
          text-transform: uppercase;
          padding-bottom: 30px;
          font-family: "Open Sans Bold";
        }
        p {
          color: #606060;
          font-family: "Open Sans Light";
          font-weight: bold;
          margin-bottom: 30px;
          font-size: 18px;
          span {
            display: block;
            font-family: "Open Sans Bold";
          }
          &:last-of-type {
            margin-bottom: 0px;
          }
        }
        &.custom-button {
          a {
            font-size: 27px;
            line-height: 1;
            background-color: #e8c244;
            padding: 10px 32px;
            span {
              display: block;
              font-size: 13px;
              font-family: "Open Sans Light";
              font-weight: normal;
              text-transform: none;
            }
            &:hover {
              background-color: #99c355;
            }
          }
        }
        &:nth-of-type(1) {
          margin-bottom: 30px;
        }
        &:nth-of-type(2) {
          margin-bottom: 60px;
        }
        &:nth-of-type(3) {
          h1:after {
            content: "";
            background-image: url(../img/donate/usa-flag.jpg);
            padding-left: 80px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

#helping_hands {
  .principal-container {
    .text-container {
      > h1 {
        font-family: "Lets Play";
        color: #e8c244;
        font-size: 45px;
        line-height: 1;
      }
      > p {
        font-family: "Open Sans Bold";
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 30px;
        span {
          display: block;
        }
      }
      .two-cols-text {
        > div {
          text-align: left;
          &:first-of-type {
            p {
              margin-bottom: 30px;
              color: #606060;
              font-weight: bold;
              font-size: 13px;
              letter-spacing: -0.4px;
              &:last-of-type {
                font-family: "Lets Play";
                color: #e8c244;
                font-size: 24px;
                font-weight: normal;
                text-align: center;
              }
            }
          }
          &:last-of-type {
            .yellow-container {
              padding: 25px 20px;
              background-color: #e8c244;
              color: white;
              font-weight: bold;
              h1 {
                font-family: "Lets Play";
                margin-bottom: 0;
              }
              p {
                font-size: 14px;
                margin: 0;
              }
            }
          }
        }
        @media (min-width: 576px) {
          > div {
            &:last-of-type {
              .yellow-container {
                h1 {
                  font-size: 60px;
                }
              }
            }
          }
        }
        @media (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          > div {
            &:first-of-type {
              padding-left: 8px;
              width: 45%;
            }
            &:last-of-type {
              width: 50%;
              padding-right: 17px;
              .yellow-container {
                padding: 25px 40px;
                h1 {
                  font-size: 35px;
                }
                p {
                  text-align: justify;
                }
              }
            }
          }
        }
        @media (min-width: 992px) {
          > div {
            &:first-of-type {
              width: 38%;
            }
            &:last-of-type {
              width: 48%;
              .yellow-container {
                h1 {
                  font-size: 50px;
                }
              }
            }
          }
        }
      }
      .final-paragraph {
        p {
          color: #808ea4;
          font-size: 19px;
          margin-top: 15px;
          font-family: "Open Sans Bold";
        }
      }
      @media (min-width: 992px) {
        > h1 {
          font-size: 58px;
        }
        > p {
          font-size: 40px;
        }
      }
    }
  }
}

#connect {
  .contact-container {
    margin-top: 30px;
    margin-bottom: 30px;
    > div {
      > div {
        &.contact-form {
          margin-bottom: 20px;
          form {
            .btn {
              background-color: #99c355;
              color: white;
              &:hover {
                background-color: #e8c244;
              }
            }
          }
        }
        &.contact-info {
          text-align: center;
          h1 {
            text-transform: uppercase;
            font-family: "Open Sans Bold";
            color: #99c355;
          }
          p {
            font-size: 12px;
            line-height: 1;
            a {
              color: black;
              font-weight: bold;
              &:hover {
                border-bottom: 1px solid black;
              }
            }
          }
          .confirm-donate-container {
            > div {
              .confirm-donation-text {
                > p {
                  text-transform: uppercase;
                  font-family: "Open Sans Bold";
                  line-height: unset;
                  font-size: 16px;
                }
              }
              .custom-button {
                a {
                  padding: 10px 40px;
                  font-size: 20px;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        > div {
          width: 45%;
          &.contact-info {
            text-align: left;
          }
        }
      }
      @media (min-width: 992px) {
        > div {
          width: 35%;
        }
      }
    }
  }
}

#error {
  .error-container {
    text-align: center;
    h1 {
      color: #ff495c;
      font-size: 60px;
      text-transform: uppercase;
      margin: 100px auto;
      font-family: "Lets Play";
      span {
        display: block;
        font-size: 40px;
      }
    }
  }
}

#message_sent {
  .confirmation-message-container {
    padding: 30px;
    h1,
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Lets Play";
    }
    p {
      a {
        color: black;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
//Footer Styles
#footer {
  .footer-sections {
    background-color: #1a1a1a;
    span {
      text-transform: uppercase;
    }
    p {
      font-size: 12px;
      color: white;
    }
    > section {
      padding-top: 15px;
      padding-bottom: 15px;
      @media (min-width: 576px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .first-footer-section {
      .collapse-sections {
        > div {
          text-align: center;
          h4 {
            color: #86c055;
            text-transform: uppercase;
            font-weight: bold;
          }
          &.newsletter-container {
            .form-group {
              .form-control {
                margin-top: 20px;
                margin-bottom: 20px;
              }
            }
            button {
              background-color: #808ea4;
              padding-left: 30px;
              padding-right: 30px;
              &:hover {
                background-color: #86c055;
              }
            }
          }
        }
        @media (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          > div {
            width: 33.3333333%;
            padding: 0 10px;
            h4 {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
    .second-footer-section {
      padding: 15px 30px;
      .website-links {
        display: flex;
        justify-content: center;
        > div {
          display: inline-block;
          text-align: center;
          .pages-links {
            p {
              font-size: 12px;
              margin-bottom: 5px;
              a {
                span {
                  color: #e2a530;
                }
              }
            }
          }
          .social-media {
            font-size: 12px;
            > span {
              color: #5b8890;
              font-weight: bold;
            }
            a {
              margin-left: 10px;
              span {
                color: white;
                font-size: 16px;
              }
              &:hover {
                span {
                  color: #86c055;
                }
              }
            }
          }
        }
      }
      .copyright-container {
        text-align: center;
      }
      @media (min-width: 1200px) {
        .website-links {
          > div {
            padding-right: 30px;
          }
        }
      }
      @media (min-width: 768px) {
        .website-links {
          justify-content: flex-end;
        }
        .copyright-container {
          text-align: left;
        }
      }
    }
    a:hover {
      text-decoration: underline;
    }
    @media (min-width: 768px) {
      padding: 30px 0;
    }
  }
}

//collapse footer

.collapse-element-title {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.collapse-element-title:after {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #86c055;
  border-top: none;
  border-left: none;
  transform: rotate(225deg);
  content: "";
}

.collapse-element-title.collapsed:after {
  top: 10px;
  transform: rotate(45deg);
}

ul li {
  margin-bottom: 10px;
}

.collapse-element-title {
  cursor: pointer;
}

.visible-xs {
  display: none !important;
}

.visible-lg {
  display: block !important;
}

.collapse.show {
  display: block !important;
}

@media (max-width: 767px) {
  #items.in,
  #items.collapsing {
    display: block !important;
  }
  #items2.in,
  #items2.collapsing {
    display: block !important;
  }
  #items3.in,
  #items3.collapsing {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .visible-lg {
    display: none !important;
  }
  .item-description {
    padding-top: 15px;
  }
}
@media (min-width: 768px) {
  #crownDesc.collapse {
    display: block !important;
    height: auto !important;
  }
}
